.div {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-image: url(../../../img/1.jpg);
}
.title {
  font-size: 48px;
  text-align: center;
  margin: 0 auto;

  color: rgb(255, 193, 38);
}
