.div {
  max-width: 360px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.cast {
  margin-bottom: 20px;
}
.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}
.li {
  width: calc((100% - 24px) / 2);
}
.text {
  color: wheat;
  /* text-align: center; */
}
.cast {
  color: wheat;
}
.error {
  color: red;
  text-align: center;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .div {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .text {
    /* text-align: center; */
  }
}

@media screen and (min-width: 1280px) {
  .div {
    max-width: 1280px;
  }
  .ul {
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
  }
  .li {
    width: calc((100% - (3 * 24px)) / 4);
  }
  .text {
    /* text-align: center; */
  }
}
